recursive-include pGroupCohomology *.py *.pyx *.pxd *.pxi
recursive-include pGroupCohomology/pkg *.* *
include pGroupCohomology/singular_helper/dickson.lib
recursive-exclude pGroupCohomology *.c *.o *.so
graft doc/source
recursive-exclude doc/build *
include doc/Makefile
prune dist
